<configuration>
	<appSettings>
		<add key="SQLConnection" value="Data Source=YOURSQL;Initial Catalog=ROW_User;Persist Security Info=True;Integrated Security=true;"/>
		<add key="numberOfSeconds" value="600"/>
		<add key="UserDB" value="youxiuser"/>
		<add key="LoginedDB" value="ROWpay"/>
		<add key="Points" value="10"/>
	</appSettings>
</configuration>
